<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PassPrism Privacy Policy</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="privacy">
    <section class="p-4">
      <div class="container">
          <div class="text-center mb-2">
            <i class="fas fa-3x text-danger fa-shield-alt"></i>
          </div>
        <h2 class="text-center">Privacy Policy of <a href="/">PassPrism</a></h2>
        <hr>
        <div class="">
            <p>
                <h4>Regarding data collection:</h4>
                <hr>
                <ul>
                    <li>You only share your full name and active email with PassPrism. No additional data is ever collected from you.</li>
                    <li>The above collected data is neved shared with any third parties.</li>
                    <li>During whole usage cycle of PassPrism, NO sensitive user data is ever collected.</li>
                    <li>PassPrism never collects any data from you for showing ads.</li>
                </ul>
            </p>
            <p>
                <h4>Regarding passwords management:</h4>
                <hr>
                <ul>
                    <li>All the passwords and related data you save in your PassPrism vault are stored using encryption.</li>
                    <li>All your above mentioned data remains encrypted in cloud database so that Nobody, not even PassPrism, can read your data except you only.</li>
                    <li>Your data is NEVER shared with any third parties.</li>
                    <li>Only you are able to read/update/manipulate your saved data.</li>
                </ul>
            </p>
            <p>
                <h4>Conclusion:</h4>
                <hr>
                <ul>
                    <li>Only you are in full control of your data.</li>
                    <li>PassPrism never uses your data for its business purposes.</li>
                    <li>All your provided data, saved passwords, related notes are highly secure in PassPrism's cloud database without any interference of others.</li>
                </ul>
            </p>
        </div>
      </div>
    </section>
  </body>

  <script>
    const netStatus = () => {
      window.addEventListener("offline", () => {
        document.write("Seems you are offline");
      });
    };
    netStatus();
  </script>
</html>
